{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Membro</title>

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="{% static 'membro/style.css' %}">
    
    <!-- Fontes futuristas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:wght@100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="auth-container">
        <h2>Candango Neural</h2>

        <!-- Formulário de autenticação -->
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" name="usuario" id="id_usuario" placeholder="E-mail" required>
            </div>
            <div class="input-group">
                <input type="password" name="senha" id="id_senha" placeholder="Senha" required>
            </div>

            <p>ID do Gênero: {{ chave }} - Nome: {{ valor.nome }}</p>

            <select name="genero" required>
                {% for chave, valor in cards.items %}
                <option value="{{ chave }}">{{ valor.nome }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>
</body>

</html>