<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    <h1>Senai Games</h1>
    <h2>Inteligência Artificial</h2>
    <h3>Analise de sentimentos</h3>
    <h4>Ambiente Acolhedor e Inclusivo</h4>
    <h5>Jogos , Educação e Bussiness</h5>

    <p>Com mais um click, você entrara em nosso ambiente gratuito de jogos e criação de jogos</p>
<from>

    <input type="text" name="nome" placeholder="qual o seu nome?">
    <input type="text" name="apelido" placeholder="qual o seu nickname?">
    <select>
        <option Selected> Qual seu gênero preferido?</option>
        <option>Visual Movel</option>
        <option>RPG</option>
        <option>Plataforma</option>
    </select>
<input type="email" required name="email" placeholder="qual o seu email?">
<input type="password" required name="senha" placeholder="informe a senha">
<button >Cadastrar</button>

</from>

</body>
</html>